@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 9, 43, 55;
  --foreground: #092b37;
  --background-rgb: 255, 255, 255;
  --background: #ffffff;
  --light: #f6f4f2;
  --layers: #778a91;
  --accent-rgb: 255, 105, 0;
  --red-rgb: 179, 25, 62;
  --yellow-rgb: 255, 149, 0;
  --gray-rgb: 98, 96, 95;
  --default-border-radius: 16px;
  --default-padding: 32px;
  --default-gap: 16px;
  --default-transition: 300ms all ease-in-out;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main,
footer {
  max-width: 1440px;
  margin: auto;
}

input[type="search"] {
  box-sizing: border-box;
  background-image: url("/icons/search.svg");
  background-size: 2.2rem;
  background-position: 0 0.4rem;
  background-repeat: no-repeat;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
}

select {
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M32.5859 18.5861L23.9999 27.1721L15.4139 18.5861L12.5859 21.4141L23.9999 32.8281L35.4139 21.4141L32.5859 18.5861Z' fill='white'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 12px;
  margin-right: 2rem;
}

a:not(.tile):not(.mantine-Button-root),
.link {
  color: rgba(var(--foreground-rgb), 0.7);
  transition: 300ms color ease-in-out;
}

a:not(.tile):not(.mantine-Button-root):hover,
.link:hover {
  color: rgba(var(--accent-rgb), 1);
  cursor: pointer;
}

.underlined {
  border-bottom: 1px solid rgb(var(--accent-rgb));
}

.nav-active {
  color: rgba(var(--red-rgb), 1) !important;
}

li.accordion {
  list-style-type: circle;
  margin-left: 2rem;
  margin-block-end: 1rem;
}

li.accordion::marker {
  color: rgb(var(--accent-rgb));
}

h1 {
  font-size: 4.4rem;
  line-height: 5rem;
  letter-spacing: -4%;
}

h2 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  letter-spacing: -4%;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -4%;
}

h5 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
}

p,
li,
nav a {
  font-size: 1.25rem;
}

b {
  font-weight: bold;
  letter-spacing: -2%;
}

article {
  width: 85vw;
  max-width: 880px;
  overflow: hidden;
  padding-bottom: 4rem;
  box-sizing: border-box;
}

article h1 {
  text-align: center;
  margin-block-end: 2rem;
}

article h2,
article h3,
article h4 {
  margin-block-start: 2rem;
  margin-block-end: 0.4rem;
}

article p,
article ul {
  margin-block-end: 1rem;
}

article a {
  border-bottom: 1px solid rgb(var(--accent-rgb));
}

article li {
  list-style-type: circle;
  margin-left: 2rem;
  margin-block-end: 1rem;
}

article li::marker {
  color: rgb(var(--accent-rgb));
}

article img:not(.icon) {
  border-radius: var(--default-border-radius);
  margin-bottom: 2rem;
  width: 80vw;
  max-width: 840px;
  height: auto;
  max-height: 440px;
  object-fit: cover;
}

article details,
.details {
  font-size: 1.25rem;
  color: rgba(var(--foreground-rgb), 1);
  margin-block-end: 1rem;
  transition: var(--default-transition);
}

article details summary {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -4%;
  color: rgba(var(--foreground-rgb), 0.7);
  margin-block-end: 1rem;
  cursor: pointer;
  transition: var(--default-transition);
}

article details img {
  margin-top: 1rem;
  object-fit: contain;
  object-position: left;
}

summary::marker,
summary::-webkit-details-marker {
  color: rgb(var(--accent-rgb));
}

article details[open] {
  color: rgba(var(--foreground-rgb), 0.7);
}

article details[open] summary {
  color: rgb(var(--foreground-rgb));
  margin-bottom: 10px;
}

article details summary:hover {
  color: rgb(var(--accent-rgb));
}

img.inverted {
  filter: invert(1) brightness(0.9) contrast(1.2);
}

.circles {
  max-height: 2000px;
  position: absolute;
  z-index: -1000;
}

.footerCircles {
  max-height: 900px;
  position: absolute;
  z-index: -1000;
}

.muted {
  color: rgba(var(--foreground-rgb), 0.7);
}

.small {
  font-size: 1rem;
}

.productImg {
  filter: brightness(0.3);
  transition: var(--default-transition);
}

.productTile:hover .productImg {
  filter: brightness(0.7);
}

.service {
  transition: var(--default-transition);
}

.invisible {
  opacity: 0;
}

.collaboration {
  color: rgb(var(--red-rgb));
}

.mobile {
  color: rgb(var(--accent-rgb));
}

.cybersecurity {
  color: rgb(var(--yellow-rgb));
}

.solutions {
  color: rgb(var(--gray-rgb));
}

.ReactCollapse--collapse {
  transition: height 300ms ease-in-out;
}

@media (max-width: 640px) {
  html {
    font-size: 10px;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  h3,
  h5 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  p,
  li {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .circles {
    top: 0;
    min-height: 2000px;
    max-height: auto;
    object-fit: cover;
  }
}
