@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 19, 5, 2;
  --background-dark-rgb: 22, 22, 22;
  --orange-rgb: 255, 105, 0;
  --red-rgb: 179, 25, 62;
  --yellow-rgb: 255, 149, 0;
  --gray-rgb: 98, 96, 95;
  --default-border-radius: 16px;
  --default-padding: 32px;
  --default-gap: 16px;
  --default-transition: 300ms all ease-in-out;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

#logoSmall {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -6%;
  color: rgb(var(--foreground-rgb));
}

#logoLarge {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -6%;
  font-weight: medium;
  color: rgb(var(--foreground-rgb));
}

main,
footer {
  max-width: 1440px;
  margin: auto;
}

input,
select,
textarea {
  outline: none;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  transition: var(--default-transition);
}

input:not(.ghost),
select,
textarea {
  padding: 0.4rem 0;
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.2);
}

input:not(.ghost):focus,
select:focus,
textarea:focus {
  border-bottom: 1px solid rgba(var(--orange-rgb), 1);
}

input::placeholder,
textarea::placeholder {
  color: rgba(var(--foreground-rgb), 0.5);
  transition: var(--default-transition);
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: rgba(var(--foreground-rgb), 0.2);
}

textarea {
  resize: vertical;
}

input[type="search"] {
  box-sizing: border-box;
  background-image: url("/icons/search.svg");
  background-size: 2.2rem;
  background-position: 0 0.4rem;
  background-repeat: no-repeat;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
}

button[disabled] {
  opacity: 0.8;
  cursor: not-allowed;
}

select {
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M32.5859 18.5861L23.9999 27.1721L15.4139 18.5861L12.5859 21.4141L23.9999 32.8281L35.4139 21.4141L32.5859 18.5861Z' fill='white'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 12px;
  margin-right: 2rem;
}

.checkboxContainer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer:not(:has(input:disabled)):hover p {
  color: rgba(var(--orange-rgb), 0.8);
  transition: var(--default-transition);
}

.checkboxContainer:not(:has(input:disabled)):hover input ~ .check {
  background-color: rgba(var(--orange-rgb), 0.8);
  transition: var(--default-transition);
}

.checkboxContainer input:checked ~ .check {
  background-color: rgba(var(--orange-rgb), 1);
}

.check:after {
  content: "";
  position: absolute;
  display: none;
  transition: var(--default-transition);
}

.checkboxContainer input:checked ~ .check:after {
  display: block;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkboxContainer:has(input:disabled):hover {
  cursor: not-allowed;
}

.checkboxContainer input:disabled ~ .check,
.checkboxContainer:has(input:disabled) p {
  opacity: 0.5;
}

.checkboxContainer .check:after {
  left: 11px;
  top: 4px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 0 0 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

a:not(.tile),
.link {
  color: rgba(var(--foreground-rgb), 0.7);
  transition: 300ms color ease-in-out;
}

a:not(.tile):hover,
.link:hover {
  color: rgba(var(--orange-rgb), 1);
}

.nav-active {
  color: rgba(var(--red-rgb), 1) !important;
}

li.accordion {
  list-style-type: circle;
  margin-left: 2rem;
  margin-block-end: 1rem;
}

li.accordion::marker {
  color: rgb(var(--orange-rgb));
}

h1 {
  font-size: 5.4rem;
  line-height: 6rem;
  font-weight: bold;
  letter-spacing: -4%;
}

h2 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  letter-spacing: -4%;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -4%;
}

h5 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
}

p,
li {
  font-size: 1.25rem;
}

b {
  font-weight: bold;
  letter-spacing: -2%;
}

button {
  font-size: 20px;
  font-weight: bold;
}

article {
  width: 85vw;
  max-width: 880px;
  overflow: hidden;
  padding-bottom: 4rem;
  box-sizing: border-box;
}

article h1 {
  text-align: center;
  margin-block-end: 2rem;
}

article h2,
article h3,
article h4 {
  margin-block-start: 2rem;
  margin-block-end: 0.4rem;
}

article p,
article ul {
  margin-block-end: 1rem;
}

article a {
  border-bottom: 1px solid rgb(var(--orange-rgb));
}

article li {
  list-style-type: circle;
  margin-left: 2rem;
  margin-block-end: 1rem;
}

article li::marker {
  color: rgb(var(--orange-rgb));
}

article img {
  border-radius: var(--default-border-radius);
  margin-bottom: 2rem;
  width: 80vw;
  max-width: 840px;
  height: auto;
  max-height: 440px;
  object-fit: cover;
}

article details {
  font-size: 1.25rem;
  color: rgba(var(--foreground-rgb), 0);
  margin-block-end: 1rem;
  transition: var(--default-transition);
}

article details summary {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -4%;
  color: rgba(var(--foreground-rgb), 0.7);
  margin-block-end: 1rem;
  cursor: pointer;
  transition: var(--default-transition);
}

summary::marker,
summary::-webkit-details-marker {
  color: rgb(var(--orange-rgb));
}

article details[open] {
  color: rgba(var(--foreground-rgb), 0.7);
}

article details[open] summary {
  color: rgb(var(--foreground-rgb));
  margin-bottom: 10px;
}

article details summary:hover {
  color: rgb(var(--orange-rgb));
}

.circles {
  max-height: 2000px;
  position: absolute;
  z-index: -1000;
}

.footerCircles {
  max-height: 820px;
  position: absolute;
  z-index: -1000;
}

.muted {
  color: rgba(var(--foreground-rgb), 0.7);
}

.small {
  font-size: 1rem;
}

.productImg {
  filter: brightness(0.3);
  transition: var(--default-transition);
}

.productTile:hover .productImg {
  filter: brightness(0.7);
}

.service {
  transition: var(--default-transition);
}

.invisible {
  opacity: 0;
}

.collaboration {
  color: rgb(var(--red-rgb));
}

.mobile {
  color: rgb(var(--orange-rgb));
}

.cybersecurity {
  color: rgb(var(--yellow-rgb));
}

.solutions {
  color: rgb(var(--gray-rgb));
}

.ReactCollapse--collapse {
  transition: height 300ms ease-in-out;
}

@media (max-width: 640px) {
  html {
    font-size: 10px;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  h3,
  h5 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  p,
  li {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .button,
  input,
  select {
    font-size: 1.6rem;
  }

  .navItem,
  .button.contact {
    font-size: 1.3rem;
  }

  .circles {
    top: 0;
    min-height: 2000px;
    max-height: auto;
    object-fit: cover;
  }
}
